{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">{{ .Date.Format "02 Jan 2006, 15:04" }}</h1>
                <section class="post">
                    <header class="post-header">

                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>

                        <p class="post-meta">
                            {{ with .Params.author }}
                                By <strong class="post-author">{{ . }}</strong>
                            {{ end }}
                            {{ if isset .Params "categories" }}
                                under 
                                {{ $baseUrl := .Site.BaseURL }}
                                {{ range .Params.categories }}<a class="post-category post-category-{{ . }}" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
                            {{ end }}
                        </p>
                    </header>

                    <div class="post-share">
                        <div class="post-share-links">
                            <h4 style="">Share</h4>
                            <a href="#" data-type="facebook" data-url="{{ .Permalink }}" data-title="{{ .Title }}" data-description="{{ .Description }}" data-media="" class="prettySocial fa fa-facebook"></a>
                            <a href="#" data-type="googleplus" data-url="{{ .Permalink }}" data-description="{{ .Description }}" class="prettySocial fa fa-google-plus"></a>
                            {{ if isset .Site.Params "twitter" }}
                            <a href="#" data-type="twitter" data-url="{{ .Permalink }}" data-description="{{ .Description }}" data-via="{{ .Site.Params.twitter }}" class="prettySocial fa fa-twitter"></a>
                            {{ end }}
                            
                        </div>
                    </div>
                    <div class="post-description">
                        {{ .Content }}
                    </div>
                    {{ template "_internal/disqus.html" . }}
                </section>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}
</body>
</html>
